__pycache__/
*.py[cod]
*.pyo

.venv/
venv/
env/

.env
.env.*

.vscode/
.idea/
.pytest_cache/
.mypy_cache/

dist/
build/

.coverage
htmlcov/

.DS_Store

.trae/

local/
notes/

feishubot.txt

k8s/secret.yaml
k8s/configmap.yaml
k8s/namespace.yaml
k8s/Alertmanager/
k8s/monitoring/